
.MuiToolbar-root {
    background-color: rgb(21, 22, 22);
    max-height: 110px;
    min-width: none;
    box-sizing: border-box;
}

.navlogo {
    width: 90px;
    margin: auto;
    
    
}

.navlogo img {
    width: 100%;
    padding: 10px;
}




.menubtn button {
    font-size: 18px;
    padding: 20px;
    font-weight: 550;
    background: #00CFC1;
    background: linear-gradient(to right, #ffda0a 32%, #CF0CB5 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menubtn button:hover {
    font-size: 20px;
    font-weight: 600;
    transition: .5s;
}

